<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dwitter</title>
</head>
<body>
  <h1>Dwitter</h1>
  <ul>
    <li><a href="#">All Dwitter</a></li>
    <li><a href="#">My Dwitter</a></li>
    <li><a href="#">Login</a></li>
  </ul>

  <form action="/dwitter" method="post" name="contentForm" style="border:2px solid gray; padding: 6px;">
    <input type="text" name="id" placeholder="id">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="content" style="width: 70%;">
    <button type="submit">Post</button>
  </form>

  <% dwitterList.forEach((dwitter) => { %>
  <div style="border:1px solid gray; margin-top: 10px; padding: 6px;">
    <%= dwitter.pid %>
    <span style="float:right; cursor: pointer;" onclick="remove('<%= dwitter.pid %>')">삭제&nbsp;&nbsp;</span>
    <span style="float:right; cursor: pointer;" onclick="updateToggle('<%= dwitter.pid %>')">편집&nbsp;&nbsp;</span>
    <img style="clear:both;" src="https://lh3.googleusercontent.com/ogw/AKPQZvxyupxtXCH8K-Twu6cO5FBJRIOnSQ2DgQsGpxqJ=s32-c-mo" alt="dex">
    <span>[<%= dwitter.name %>]</span>
    <span><a href="/dwitter?id=<%= dwitter.id %>">@<%= dwitter.id %></a></span>
    <span><%= dwitter.date %></span>
    <div>
      <%= dwitter.content %>
    </div>
    <div id="updateForm_<%= dwitter.pid %>" style="display:none;">
      <input type="text" id="content_<%= dwitter.pid %>" style="width: 80%; background-color: lightcyan;">
      <button type="button" onclick="update('<%= dwitter.pid %>')">Update</button>
    </div>
  </div>
  <% }); %>

  <script>
    function updateToggle(pid){
      const updateForm = document.querySelector("#updateForm_" + pid);
      const contentText = document.querySelector("#content_" + pid);
      const display = updateForm.style.display;

      if(display == "none"){
        updateForm.style.display = "block";
        contentText.focus();
      } else {
        updateForm.style.display = "none";
        contentText.value = "";
      }
    }

    function update(pid){
      const updateText = document.querySelector("#content_" + pid).value;
      
      fetch('/dwitter', /* /dwitter/:id 를 줘야하지만, body 에서 put 방식으로 넘기기에 생략 가능 */
            { 
              method : 'put', 
              headers : {'content-type' : 'application/json'},
              body : JSON.stringify({pid : pid, content : updateText}),
            })
      .then(result => {
        if(result.status === 204){
          // alert('업데이트 성공~');
          window.location.reload(); // 윈도우 새로고침
        }
      })
      .catch(console.error)
      .finally()
    }

    function remove(pid){
      fetch('/dwitter',
            {
              method : 'delete',
              headers : {'content-type' : 'application/json'},
              body : JSON.stringify({pid : pid}),
            })
      .then(result => {
        if(result.status === 204){
          window.location.reload();
        }
      })
      .catch(console.error)
    }
  </script>
</body>
</html>