<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dwitter</title>
</head>
<body>
  <h1>Dwitter</h1>
  <ul>
    <li><a href="/dwitter">All Dwitter</a></li>
    <li><a href="#">My Dwitter</a></li>
    <li><a href="#" onclick="loginToggle()">Login</a>
      / <a href="#" onclick="signUpToggle()">Signup</a>
    </li>
  </ul>
  <br>
  <form name="loginForm" action="/login" method="post" id="loginForm" style="display:none;">
    <p>Login Form</p>
    <input type="text" name="id" id="id" placeholder="id 입력" style="width: 50%; background-color: lightcyan;">
    <input type="password" name="pass" id="pass" placeholder="password 입력" style="width: 50%; background-color: lightcyan;">
    <button type="submit">Login</button>
    <button type="reset">Reset</button>
  </form>
  <br>
  <form name="signUpForm" action="/signup" method="post" id="signUpForm" style="display:none;">
    <p>signUp Form</p>
    <input type="text" name="id" id="sid" placeholder="id 입력" style="width: 50%; background-color: bisque;">
    <input type="password" name="pass" id="spass" placeholder="password 입력" style="width: 50%; background-color: bisque;">
    <input type="text" name="name" id="name" placeholder="이름 입력" style="width: 50%; background-color: bisque;">
    <textarea name="content" id="content" rows="10" placeholder="content" style="width: 70%; resize:none; margin-top: 5px; background-color: bisque;"></textarea>
    <button type="submit">Login</button>
    <button type="reset">Reset</button>
  </form>
  <br>

  <form action="/dwitter" method="post" name="contentForm" style="border:2px solid gray; padding: 6px;">
    <input type="text" name="id" placeholder="id">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="content" style="width: 70%;">
    <button type="submit">Post</button>
  </form>

  <% for(i = 0; i < list.length; i++){ %>
  <div style="border:1px solid gray; margin-top: 10px; padding: 6px;">
    <%= list[i].id %>
    <span style="float:right; cursor: pointer;" onclick="remove('<%= list[i].id %>')">삭제&nbsp;&nbsp;</span>
    <span style="float:right; cursor: pointer;" onclick="updateToggle('<%= list[i].id %>')">편집&nbsp;&nbsp;</span>
    <img style="clear:both;" src="https://lh3.googleusercontent.com/ogw/AKPQZvxyupxtXCH8K-Twu6cO5FBJRIOnSQ2DgQsGpxqJ=s32-c-mo" alt="dex">
    <span>[<%= list[i].name %>]</span>
    <span><a href="/dwitter/<%= list[i].id %>">@<%= list[i].id %></a></span>
    <span><%= list[i].date %></span>
    <div>
      <%= list[i].content %>
    </div>
    <div id="updateForm_<%= list[i].id %>" style="display:none;">
      <input type="text" id="content_<%= list[i].id %>" style="width: 80%; background-color: lightcyan;">
      <button type="button" onclick="update('<%= list[i].id %>')">Update</button>
    </div>
  </div>
  <% } %>

  <script>
    function updateToggle(id){
      const updateForm = document.querySelector("#updateForm_" + id);
      const contentText = document.querySelector("#content_" + id);
      const display = updateForm.style.display;

      if(display == "none"){
        updateForm.style.display = "block";
        contentText.focus();
      } else {
        updateForm.style.display = "none";
        contentText.value = "";
      }
    }

    function update(id){
      const updateText = document.querySelector("#content_" + id).value;
      
      fetch('/dwitter', /* /dwitter/:id 를 줘야하지만, body 에서 put 방식으로 넘기기에 생략 가능 */
            { 
              method : 'put', 
              headers : {'content-type' : 'application/json'},
              body : JSON.stringify({id : id, content : updateText}),
            })
      .then(result => {
        if(result.status === 204){
          // alert('업데이트 성공~');
          window.location.reload(); // 윈도우 새로고침
        } else if (result.status === 400) {
          alert('로그인 후 수정 가능합니다');
        }
      })
      .catch(console.error)
      .finally()
    }

    function remove(id){
      fetch('/dwitter',
            {
              method : 'delete',
              headers : {'content-type' : 'application/json'},
              body : JSON.stringify({id : id}),
            })
      .then(result => {
        if(result.status === 204){
          window.location.reload();
        }
      })
      .catch(console.error)
    }

    function loginToggle() {
      const loginForm = document.querySelector('#loginForm');
      const id = document.querySelector('#id');
      const pass = document.querySelector('#pass');
      const display = loginForm.style.display;

      if(display == 'none'){
        loginForm.style.display = 'block';
        id.focus();
      } else {
        loginForm.style.display = 'none';
        id.value = "";
        pass.value = "";
      }
    }

    function signUpToggle(){
      const signUpForm = document.querySelector('#signUpForm');
      const sid = document.querySelector('#sid');
      const spass = document.querySelector('#spass');
      const name = document.querySelector('#name');
      const content = document.querySelector('#content');
      const display = signUpForm.style.display;

      if(display == 'none'){
        signUpForm.style.display = 'block';
        sid.focus();
      } else {
        signUpForm.style.display = 'none';
        sid.value = "";
        spass.value = "";
        name.value = "";
        content = "";
      }
    }
  </script>
</body>
</html>