<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NewsContents</title>
</head>
<body>
  <h1><%= newsContent.title %></h1>
  <div>
    <img src="<%= newsContent.url %>" width="500px" height="500px" alt="">
  </div>
  <p><%= newsContent.content %></p>
  <p style="text-align: right;">
    <a href="/news"><button type="button">뉴스 리스트</button></a>
    <button type="button" onclick="remove('<%= newsContent.nid %>')">삭제하기</button>
  </p>

  <script>
    function remove(nid){
      fetch('/news',
            {
              method : 'delete',
              headers : {'content-type' : 'application/json'},
              body : JSON.stringify({nid : nid}),
            })
      .then(result => {
        if(result.status === 204){
          alert('delete success!!')
          window.location.href = '/news';
        }
      })
      .catch(console.error)
    }
  </script>
  
  <%- include("reply.ejs") %>

</body>
</html>